/**
 * 全局变量
 */

// --------------------------------------------------
// Colors
// --------------------------------------------------
$fcBlue    = #4f82bb //用于导航底色，菜单栏图标颜色、醒目按钮底色；重要文字颜色等
$fcBlack   = #303030 //用于默认文字信息；确认或者不可更改信息
$fcGrey    = #808080 //用于菜单栏图标以及文字；内页标题信息
$fcGreyish = #999999 //用于次要的辅助性；描述性文字；输入框默认文字
$fcGreyer  = #d5d5d5 //用于边框；模块分割线等
$fcGreiest = #e5e5e5
$fcWhite   = #ffffff
$fcBody    = #efefef
$boderLine = #c9cbc9

// --------------------------------------------------
// Font Sizes
// --------------------------------------------------
$fontRem = 100 // 转换px to rem
$fontLarge = 16 // 大字体
$fontBase = 14
$fontSmall = 12


